@use '../utils/vars' as *;

#root {
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: grid;
  grid-template-rows: [screen-top] 90% [row1-end] 10% [screen-bottom];
  grid-template-columns: [screen-left] 100% [screen-right];
  grid-template-areas: 
    "main" 
    "navBar"
  ;
}

@media screen and (min-width: $large-breakpoint) {
  #root {
    grid-template-rows: [screen-top] 7% [row1-end] 93% [screen-bottom];
    grid-template-areas:
      "navBar"
      "main"
    ;
    // height: 100vh;
  }
}