@use '../utils/vars' as *;
@use '../utils/fonts';

* {
  box-sizing: border-box;
}

body{
  background-color: $primary-background;
  color: $primary-font-color;
  font-family: $primary-font;
  // padding: 5vh 0;

  @media screen and (min-width: $large-breakpoint) {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnBox {
  display: flex;
  justify-content: center;

  > * {
    margin: 0 .5rem;
  }
}