@use '../utils/vars' as *;
@use '../utils/fonts';

* {
  box-sizing: border-box;
}

body{
  background-color: $primary-background;
  color: $primary-font-color;
  font-family: 'Playful World';
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

section {
  padding: 10px;
}

.btnBox {
  display: flex;
  justify-content: center;

  > * {
    margin: 0 .5rem;
  }
}